<h1>You just received a friend request from <%= @current_user.email %></h1>
<p>Please consider on accepting or rejecting the request</p>
<p>Go to the website <a href="http://localhost:3000">here</a></p>